/* =============== Footer Styles =============== */
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: minmax(100px, 1.5fr) minmax(100px, 4fr) minmax(100px, 1.5fr);
  background: rgba(193, 231, 255, .3);
}

/* ********** Up Next ********** */
.footer__text {
  margin-top: -1rem;
}

.footer__upNext {
  padding: 1.5rem;
  padding-right: .75rem;
  padding-left: 5rem;
  display: grid;
  align-content: center;
}
.footer__upNext-session {
  padding: 1.5rem;
  padding-right: .75rem;
  display: grid;
  align-content: center;
}
.footer_upNext_speaker {
  padding-left: 2rem;
}

/* ********** Current Time & Warnings ********** */
.footer__time {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(193, 231, 255, .8);
  text-align: right;
}
.footer__time-current {
  font-size: 1.75em;
  font-weight: bold;
}
