/* =============== Header =============== */
header {
  padding: 1.5rem;
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-content: space-between;
}
/* ********** Up Next ********** */

/* ********** Current Time & Warnings ********** */
.timeWarnings {
  text-align: right;
}
.currentTime {
  font-size: 1.75em;
  font-weight: bold;
}