/* =============== Header =============== */
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(100px, 5fr) minmax(100px, 1fr);
  background: rgba(193, 231, 255, .3);
}

/* ********** Up Next ********** */
.header__upNext {
  padding: 1.5rem;
  padding-right: .75rem;
  display: grid;
  align-content: center;
}

/* ********** Current Time & Warnings ********** */
.header__time {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(193, 231, 255, .8);
  text-align: right;
}
.header__time-current {
  font-size: 1.75em;
  font-weight: bold;
}