/* =============== Room Container =============== */
.room {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, 8fr) minmax(100px, 1.75fr);
  grid-template-areas:
  "content"
  "footer";
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.5em;
}
/* Targeting Large Kalahari Screens */
@media screen and (min-width: 767px) and (max-width: 769px) {
  .room {
    grid-template-rows: minmax(100px, 8fr);
  }
}