/* =============== Room Container =============== */
.room {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(100px, 5fr) minmax(100px, 2fr);
  grid-template-areas: 
  "header"
  "content";
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.5em;
}
