/* =============== Session =============== */
.session {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
}

/* ********** Session Image ********** */
.session__img-wrapper {
  padding: 0 2rem 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}
.session__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 350px;
  background: #3f51b5;
  border-radius: 100%;
}

/* ********** Session Details ********** */
.session__details {
  padding: 0 1rem;
  display: grid;
  align-content: center;
}
/* Session Speaker */
.session__speaker {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.session__speaker-company {
  margin: 0;
}
/* Session Info */
.session__title {
  margin-top: -30px;
}
.session__desc {

}