/* =============== Session =============== */
.session {
  grid-area: content;
  position: relative;
  display: grid;
  grid-template-rows: minmax(100px, 3fr) minmax(100px, 1.25fr);
  overflow: hidden;
  justify-content: center;
  background: #F5ECDB;
}

.session__background {
  position: absolute;
  z-index: 0;
  margin: auto;
  left: 0;
  right: 0;
  top: -1.25rem;
  bottom: 0;
}

/* ********** Session Image ********** */
.session__img-wrapper {
  padding: 0 2rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: end;
  align-items: flex-end;
}
.session__img {
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  background: #3f51b5;
}

/* ********** Session Details ********** */
.session__details {
  padding: 0 5rem;
  display: grid;
  align-content: start;
  text-align: center;
}
/* Session Speaker */
.session__speaker {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

/* Session Info */
.session__title {
  margin: 0;
}

/* ********** Animations ********** */
.brb { /* Add this to .session__background to enable the BRB signal */
  animation: brb-pressed 4s ease 1s infinite;
}

@keyframes brb-pressed {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}