/* =============== Session =============== */
.session {
  grid-area: content;
  display: grid;
  grid-template-rows: minmax(100px, 3fr) minmax(100px, 1fr);
  overflow: hidden;
  justify-content: center;
  background: #F5ECDB;
  background-image: url(../TC-DigitalSign-Background.png);
}

/* ********** Session Image ********** */
.session__img-wrapper {
  padding: 0 2rem 2rem;
  display: grid;
  justify-content: center;
  align-content: end;
}
.session__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  background: #3f51b5;
}

/* ********** Session Details ********** */
.session__details {
  padding: 0 1rem;
  display: grid;
  align-content: start;
  text-align: center;
}
/* Session Speaker */
.session__speaker {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
.session__speaker-company {
  margin: 0;
}
/* Session Info */
.session__title {
}
.session__desc {

}