/* =============== Sponsors =============== */
.sponsors {
  background: #000 url('../DS-Sponsors-Background.png');
  background-position: 35% 35%;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ********** Sponsors Thanks ********** */
.sponsors__thanks {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

/* ********** Sponsors Image ********** */
.sponsors__img-wrapper {
  padding: 0 2rem 2rem;
  display: block;
}
.sponsors__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 400px;
}
