/* =============== Sponsors =============== */
.sponsors {
  background-image: url('../DS-Sponsors-Background.png');
  background-position: 35% 35%;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Targeting Large Kalahari Screens */
@media screen and (min-width: 767px) and (max-width: 769px) {
  .sponsors {
    background-image: url('../DS-Sponsors-Background-Tall.png');
    background-position: 35% 35%;
  }
}
/* Targeting New Space Tall Screens */
@media screen and (min-width: 1078px) and (max-width: 1081px) {
  .sponsors {
    background-image: url('../DS-Sponsors-Background-TallSlim.jpg');
    background-position: 35% 35%;
  }
}

/* ********** Sponsors Thanks ********** */
.sponsors__thanks {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

/* ********** Sponsors Image ********** */
.sponsors__img-wrapper {
  padding: 0 2rem 2rem;
  display: block;
}
.sponsors__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 400px;
}
/* Targeting New Space Tall Screens */
@media screen and (min-width: 1078px) and (max-width: 1081px) {
  .sponsors__img {
    max-height: 100%;
  }
}